<div class="movie-cover center">
  <div class="movie-cover-container">
    <div class="menu">
      <a routerLink="/" *ngFor="let menuIcon of menuIcons">
        <img
          src="{{'assets/icons/movie-cover/menu/' + menuIcon}}"
          alt="{{menuIcon}}"
        />
      </a>
    </div>
    <h1 class="movie-title">TAMASHA</h1>
    <p class="movie-text">Ved and Tara fall in love while on a holiday in Corsica and decide to keep their real
      identities undisclosed. Tara returns to Delhi and meets a new Ved, who is trying to discover his true self.</p>
    <div>
      <p class="movie-genre red">GENRES</p>
      <p class="movie-genre">Romance, Drama</p>
    </div>
    <div class="buttons">
      <app-big-button
        *ngFor="let button of buttons"
        [text]="button.text"
        [icon]="button.icon"
        [bgColor]="button.bgColor"
      ></app-big-button>
    </div>
    <div class="movie-details">
      <img src="assets/icons/movie-cover/image.png" alt="IMDb"/>
      <p class="movie-rating">7.3</p>
      <p class="movie-property">U/A</p>
      <p class="movie-property">4K</p>
      <p class="movie-year">2015</p>
    </div>
  </div>
</div>
