<app-movie-cover></app-movie-cover>
<div class="center">
  <div class="container">
    <div class="movies">
      <div>
        <div class="title-button-group">
          <p class="title">MOVIES YOU MUST WATCH</p>
          <app-medium-button
            [text]="'FILTERS'"
            [icon]="'down-vector.png'"
            [bgColor]="'#5C5C5C'"
          ></app-medium-button>
        </div>
        <div class="movie-cards">
          <app-movie-card></app-movie-card>
          <app-movie-card></app-movie-card>
          <app-movie-card></app-movie-card>
          <app-movie-card></app-movie-card>
          <app-movie-card></app-movie-card>
          <app-movie-card></app-movie-card>
        </div>
      </div>
    </div>
  </div>
</div>
