.movies {
  margin-top: -130px;
  margin-left: 123px;
  padding: 26px 24px 30px 23px;
  width: 1315px;
  background: rgba(11, 15, 22, 0.47);
  box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-radius: 24px;
}

.title-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 800px;
}

.title {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

.title:hover {
  color: yellow;
}

.title-languages-group {
  display: flex;
  flex-direction: column;
}

.language-buttons {
  display: flex;
  gap: 23px;
  margin-top: 19px;
  margin-bottom: 22px;
}
