<div class="card">
  <img class="movie-image" src="assets/icons/card/Rectangle%2024.png" alt="movie image"/>
  <h4 class="movie-name truncate-long-texts">Kumbalangi Nights</h4>
  <p class="movie-year">2019</p>
  <div class="card-bottom">
    <div class="card-bottom-1 center-y">
      <img src="assets/icons/card/IMDb-small.png" alt="IMDb"/>
      <p class="card-rating">8.6</p>
    </div>
    <div class="card-bottom-2 center-y">
      <img src="assets/icons/card/eye.png" alt="eye"/>
      <img src="assets/icons/card/white-heart.png" alt="white heart"/>
    </div>
  </div>
</div>
