* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none;
}
