* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none;
}

.info {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.show-buttons {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
