.movie-bg {
  margin-left: 123px;
  padding: 26px 24px 30px 23px;
  width: 1315px;
  background: rgba(11, 15, 22, 0.47);
  box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-radius: 24px;
}

.trailer-text {
  margin-bottom: 10px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
